.header-row {
  font-size: 32px;
  font-weight:bold;
}
.sub-header-row {
  font-size: 20px;
  color: #888;
  font-weight: normal;
}
.chart-title {
  padding: 0px 0 8px 0;
  font-weight: bold;
  font-size: 18px;
}
.row-top {
  padding: 20px 0;
}
.color-green {
  background-color: #17ba6a;
  color: #000;
}
.color-yellow {
  background-color: #f7e31d;
  color: #000;
}
.color-orange {
  background-color: #f7921d;
  color: #000;
}
.color-red {
  background-color: #F50000;
  color: #000;
}
.color-blue {
  background-color: #3030FF;
  color: #000;
}
.color-purple {
  background-color: #990DFF;
  color: #000;
}
.color-grey {
  background-color: #909399;
  color: #000;
}
.color-none {
  background-color: #fff;
  color: #000;
  font-size: 14px;
}

.el-table .warning-row {
  background: #ffc8ca;
}

.el-table .success-row {
  background: #bcffc6;
}

.el-table .safe-row {
  background: #cbd2ff;
}

.sub-title {
  font-size: 14px;
  color: #999;
  text-align: center;
  margin-bottom: 20px;
}
.select {
  width: 40px;
  display: inline-block;
}
.message {
font-size: 18px;
font-weight: bold;
color: #333;
}
.message-subtitle {
  font-size: 14px;
  margin-bottom: 5px;
  color: #888;
}